<!-- <h2>A Component</h2>
<app-servers></app-servers>
<app-servers></app-servers>
<br>
<button class="btn btn-primary" [disabled] = "disattrib">Add Server</button>
<p [innerText]="disattrib"></p>

<p *ngIf="server else myserver"></p>
<ng-template #myserver>
  This is it.
</ng-template>

<div
 *ngFor="let logItem of log;"
 [ngStyle]="{ backgroundColor: logItem > 5 ? 'blue' : 'transparent' }"
 [ngClass]="{'white-text': logItem >= 5}"
>{{ logItem }}</div> -->

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>